name: NPM Test

env:
  FORCE_COLOR: 1

on:
  push:
    branches-ignore:
      - 'dependabot/**'
  pull_request:
    branches:
      - '*'

permissions:
  contents: read

jobs:
  build:

    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        node-version: [18.x, 19.x, 20.x, 21.x, 22.x, 23.x]

    steps:
    - uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2.7.0
    - uses: actions/setup-node@c46424eee26de4078d34105d3de3cc4992202b1e # v2.1.4
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npm test
